zero-md {
    margin: auto;
    display: block;
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    background-color: #131313 !important;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(189, 130, 130, 0.2);
}

@media (min-width: 768px) {
    zero-md {
        width: 75%;
    }
}

@media (min-width: 1024px) {
    zero-md {
        width: 60%;
    }
}

body{
    background-color: #131313 !important;
}